.g-header {
  width: 7.5rem;
  height: 1rem;
  background: url(../../img/news-banner.png) center center no-repeat #fff;
  background-size: cover;
}
.g-header a {
  display: block;
  height: inherit;
}