<!DOCTYPE html>
<html lang="zh" data-docid="BPBLV5QQ0001124J" data-boardid="news_guonei8_bbs" data-digest="据中国天气网消息，今天（6月12日）开始，南方地区将出现新一">

<head>
  <meta charset="UTF-8">
  <base href="http://abc.163.com:3100" />
  <title>梅雨推迟后第18轮暴雨来袭 防总:防"98+"大洪水</title>
  <script>
    window.NRUM = window.NRUM || {}, window.NRUM.config = {
        key: "27e86c0843344caca7ba9ea652d7948d",
        clientStart: +new Date
      },
      function() {
        var e = document.getElementsByTagName("script")[0],
          t = document.createElement("script");
        t.type = "text/javascript", t.async = !0, t.src = "//nos.netease.com/apmsdk/napm-web-min-1.1.1.js", e.parentNode.insertBefore(t, e)
      }()
  </script>
  <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
  <script>
    ! function(e, t) {
      var i = e.documentElement,
        n = !!navigator.userAgent.match(/ipad|iphone|ipod/i),
        a = n ? Math.min(t.devicePixelRatio, 3) : 1,
        a = window.top === window.self ? a : 1,
        d = "orientationchange" in window ? "orientationchange" : "resize";
      i.dataset.dpr = a;
      var o = function() {
        var e = i.clientWidth;
        e / a > 750 && (e = 750 * a), i.dataset.width = e, i.dataset.percent = 100 * (e / 750), i.style.fontSize = 100 * (e / 750) + "px"
      };
      o(), e.documentElement.classList.add("iosx" + t.devicePixelRatio), e.addEventListener && t.addEventListener(d, o, !1)
    }(document, window)
  </script>
  <script>
    window.RELATIVE_NEWS = [
      {
      "id": "BVNDOUPP00014JB5",
      "title": "安钢集团董事长李涛任河南省国资委主任",
      "source": "中国经济网",
      "imgsrc": "http://cms-bucket.nosdn.127.net/catchpic/7/78/784B5B80492860F1C88025EE441899FC.jpg",
      "docID": "BVNDOUPP00014JB5",
      "type": "doc",
      "ptime": "2016-08-30 11:35:00",
      "href": ""
      },
      {
      "id": "BVLF73LB900173LC",
      "title": "工信部副部长、国防科工局长“空降”湖南任省委副书记",
      "source": "观察者",
      "imgsrc": "http://dmr.nosdn.127.net/hMclLIebcoICyYhjdyo-ag==/6896093022405004413.jpg",
      "docID": "BVLF73LB900173LC",
      "type": "doc",
      "ptime": "2016-08-28 21:09:21",
      "href": ""
      },
      {
      "id": "BVKQ24FG05288EKR",
      "title": "我给了弟弟30万元，而弟弟结婚却说我是蠢货",
      "source": "深夜谈心",
      "imgsrc": "http://dingyue.nosdn.127.net/s85CbNgI7IljE9NtjqYIJri6cJxRDST70K1KU07eKYvP81472441384507compressflag.jpg",
      "docID": "BVKQ24FG05288EKR",
      "type": "doc",
      "ptime": "2016-08-29 11:32:20",
      "href": ""
      }
    ]
  </script>
</head>

<body ontouchstart="">
  <script>
    ! function(e, t) {
      var n = e.documentElement,
        i = "orientationchange" in window ? "orientationchange" : "resize",
        d = (/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream, function() {
          var t = n.clientWidth;
          t && (t >= 750 ? (t = 750, e.body.style.width = "750px") : e.body.style.width = t + "px", n.style.fontSize = 100 * (t / 750) + "px", n.dataset.width = t, n.dataset.percent = 100 * (t / 750))
        });
      d(), e.documentElement.classList.add("iosx" + t.devicePixelRatio), e.addEventListener && t.addEventListener(i, d, !1)
    }(document, window)
  </script>
  <iframe id="iframe" style="display:none!important"></iframe><img src="http://img1.cache.netease.com/travel/2014/7/22/20140722172931b2127.png" style="display:none!important">
  <div class="js-analysis">
    <div class="m-body-wrap">
      <div class="content-wrapper">
        <div class="m-container" id="contentHolder" style="max-height:16rem">
          <article class="articleList">
            <div class="head clearfix">
              <h1 class="article-title">梅雨推迟后第18轮暴雨来袭 防总:防"98+"大洪水</h1>
              <h2><span class="source">澎湃新闻网</span> <span class="time">06-12 08:53</span> <a class="js-reply-link replyLink" href="#comment">跟贴（14644）条</a></h2>
              <div class="article-digest"></div>
            </div>
            <div class="text clearfix">
              <div class="photoNews">
                <img class="photoImg js-img" src="http://img2.cache.netease.com/3g/2015/11/2/20151102141437e4822.png" data-echo="http://img1.cache.netease.com/catchpic/5/5A/5A6BA4BEF3ABFED8844D14843C72CC44.jpg" data-width="550" data-height="346">
                <div class="photo_mag" style="display:block;">2016年5月1日，湖北荆州公安县，北闸水闸。</div>
              </div>

              <div class="photoNews">
                <img class="photoImg js-img" src="http://img2.cache.netease.com/3g/2015/11/2/20151102141437e4822.png" data-echo="http://img1.cache.netease.com/catchpic/2/27/27F6E0D91B306F1B9EFBC0B6CDC990F6.jpg" data-width="550" data-height="413">
                <div class="photo_mag" style="display:block;">2016年5月1日，湖北荆州公安县，公安县县城安全区。</div>
              </div>
              <p>据中国天气网消息，今天（6月12日）开始，南方地区将出现新一轮大范围强降雨过程。暴雨“车轮战”不停歇，对于长江严峻的防汛形势来说，又一个不利消息已经证实：2016年长江中下游梅雨季已经确定推迟。</p>
              <p>据新华网6月10日报道，长江委防办主任陈敏介绍，长江流域降雨有一定规律，正常情况中下游先降雨，上游后降雨，如果梅雨季推迟，与上游降雨遭遇，将对主汛期长江防汛不利。1998年大洪水时，就因为长江中下游出现“二次梅”，梅雨期较长，导致上、中、下游降水遭遇。</p>
              <p>再加上最强厄尔尼诺事件、罕见冬汛与提早入汛、入汛以来全国平均降水量较常年同期偏多1.8成………种种迹象显示，2016年长江可能发生大洪水。</p>
              <p>截至目前，多项指标都超过了1998年。中央气象台回复澎湃新闻称，今年与1998年同为极强厄尔尼诺次年，又具有副热带高压异常强大、前汛期降雨偏多等相似的天气特点，防汛形势十分严峻。2016年累计500毫米以上的降雨范围比1998年偏多53万平方公里，12个省（区、市）平均降雨量比1998年同期偏多23.5%，南方主要江河水位均高于常年和1998年同期。</p>
              <p>厄尔尼诺现象是太平洋赤道海域水温异常升高引起的一种异常气候现象，往往会引起全球多个地区天气异常，其中一些地区暴雨频繁、洪涝成灾，另一些地区则高温少雨、干旱严重。从全球范围看，目前的法国洪水、印度大旱、加拿大林火等自然灾害都与其有关。</p>
              <p>据澎湃新闻不完全统计，2016年以来，国家防总相关负责人至少5次提到2016年“发生大洪水的可能性很大”、“以防御‘98+’长江特大洪水为目标”、“做好应对大灾的准备”。</p>
              <p>国务院副总理、国家防总总指挥汪洋也强调，2016年我国防汛抗旱形势异常严峻，要立足防大汛、抗大旱、救大灾。</p>
              <p><b>有完整海洋观测资料以来最强厄尔尼诺事件</b></p>
              <p>2016年可能发生大洪水，首先是一种经验推定。</p>
              <p>据《人民日报》报道，国家气候中心专家介绍，从历史统计规律来看，厄尔尼诺事件达到峰值后的第二年，夏季长江流域和江南容易出现洪涝灾害。</p>
              <p>两个典型例子是，1982/1983年的超强厄尔尼诺事件，导致1983年6-7月，长江中下游地区出现持续性暴雨，长江许多测站水位达历史最高；1997/1998年的超强厄尔尼诺事件，导致1998年夏季我国长江流域和嫩江、松花江流域发生特大洪涝灾害。</p>
              <p>而本次厄尔尼诺事件，是1951年有完整海洋观测资料以来最强的厄尔尼诺事件，诸多海温指标已超过了上述两次超强事件。</p>
              <p>本次厄尔尼诺事件自2014年9月开始发展，去年11月份达到峰值，此后一直在减弱，至今年5月结束，共持续了20个月时间，是60多年来持续时间最长的一次厄尔尼诺。</p>
              <p>6月8日，中央气象台回复澎湃新闻称，2016年与1998年同为极强厄尔尼诺次年，又具有副热带高压异常强大、前汛期降雨偏多等相似的天气特点。</p>
              <p>国家气候中心气候监测室正研级高级工程师、首席专家周兵说，厄尔尼诺可以持续地改变区域环流，激发出菲律宾到南海的反气旋性高压环流系统，这一环流系统叠加在副高上，直接影响我国汛期降水。</p>
              <p>据《中国气象报》报道，由于大气对厄尔尼诺的响应一般具有滞后性，在2016年6月至7月的梅雨季节，大气对于厄尔尼诺的响应可能会进一步显现或放大，长江流域易发生洪涝灾害。</p>
              <p>周兵认为，从气候角度来看，2016年我国主汛期气候面临着更大挑战：全球变暖从1998年“加速启动”，刚刚过去的2015年是1880年以来全球最热的年份，全球持续增暖的背景使得我国主汛期出现暴雨等极端天气气候事件的风险显著增加；此次厄尔尼诺事件的峰值强度、累计强度、持续时间、月平均海表温度高于2℃的时间均为1951年以来最强或最长，这不仅进一步增加极端天气气候事件出现的可能性，还加大了气候预测的难度。</p>
              <p>另据公开气象资料显示，2015/2016年的冬季气温较常年偏高0.3℃，这与1997/1998年完全一致；2016年寒潮活动较为频繁，在3月出现了两次寒潮天气过程，而1998年3月也出现了两次。</p>
              <p><b>今年暴雨“车轮战”现象连1998年也不曾出现</b></p>
              <p>2015年11月，湖南和江西两省均发生了罕见的冬汛。2016年我国入汛日期又提前到了3月21日，较多年平均入汛日期（4月1日）早了11天，比1998年的4月12日早了23天。</p>
              <p>6月8日，水利部介绍，受超强厄尔尼诺影响，2016年我国入汛早，降雨过程多，江河水位高。今年尚未进入主汛期，江淮、江南、华南、西南暴雨就进入不停歇的“车轮战”模式。这种现象，近年少见，即便在气候形势类同的1998年也不曾出现过。</p>
              <p>据中央气象台统计，自3月21日入汛以来，全国共出现17次大范围强降水天气过程，其中南方16次，比1998年同期偏多4次；长江流域、珠江流域、淮河流域、太湖流域等100余条河流出现超警水位。</p>
              <p>中央气象台6月8日回复澎湃新闻称，截至目前，与1998年相较，2016年南方地区的强降雨范围更广、强度更强。据统计，2016年截至目前，全国累计500毫米以上的降雨范围（89万平方公里）比1998年（36万平方公里）偏多53万平方公里。</p>
              <p>其中广西、广东、福建、浙江、江西、湖南、湖北、安徽、江苏、上海及重庆、贵州等12个省（区、市）平均降雨量为542毫米，比1998年同期偏多23.5%，比常年同期偏多29.4%。</p>
              <p>6月8日，国家防总指出，2016年入汛以来，全国平均降水量173毫米，较常年同期偏多1.8成。其中太湖流域平均降水量464毫米，较常年同期偏多7.5成，列1961年以来第1位；东北东部和中部、江淮、江南东部和西南部、西北中部部分地区偏多2-5成，东北中部、西北中北部、江淮南部、江南东北部偏多5成以上。</p>
              <p>同时，入汛以来，全国14个省（区、市）144条河流超警，为近5年以来同期最多。南方主要江河水位均高于常年和1998年同期，长江、太湖、西江等南方江河当前水位较常年偏高0.73-3.05米，其中长江中下游干流及洞庭湖、鄱阳湖较常年偏高2.53-3.05米，较1998年同期偏高2.49-3.68米；太湖水位较常年偏高0.73米，为仅次于1954年同期的第2高水位。</p>
              <p>此前，5月31日，长江防总介绍，长江干流重要水文站水位目前均较30年均值偏多，其中宜昌站流量偏多6成，较1998年偏多近9成；汉口站偏多4成，较1998年偏多2成；城陵矶站、大通站流量偏多4至6成，与1998年持平。</p>
              <p>长江委员会防办主任陈敏说，长江流域2016年3-5月雨情主要特征与1998年十分相似，种种迹象表明，2016年汛期长江中下游发生大洪水的可能性很大。</p>
              <p>
                <br/>
              </p>
              <p>原标题：防大汛①| 梅雨推迟后第18轮暴雨又来，98+洪水露狰狞</p>
            </div>
          </article>
        </div>
      </div>
      <div class="m-comment"></div>
      <div class="m-relative"></div>
      <div class="m-middle-share"></div>
      <div class="m-ad js-ad"></div>
      <div class="m-hotnews"></div>
    </div>
  </div>
  <script src="http://img3.cache.netease.com/apps/3g/1.1.4/zepto.min.js" type="text/javascript"></script>
  <script src="/js/article.bundle.js"></script>
</body>

</html>
