.m-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  bottom: 0;
  padding: .14rem .25rem;
  width: 7.5rem;
  background: #fff;
  will-change: transform;
  transform: translateX(-50%);
  .open-newsapp {
    display: flex;
    width: 2.4rem;
    color: #4a4645;
    font-size: .26rem;
    line-height: .71rem;
    text-indent: .15rem;
  }
  .m-share-home-icon {
    display: block;
    width: .71rem;
    height: .71rem;
    background-image: url(http://img1.cache.netease.com/utf8/3g/touch/images/new-logo.png);
    background-size: cover;
    border-radius: .1rem;
  }
  .share-wrap-list {
    display: flex;
    flex-flow: row nowrap;
    padding: .14rem 0;
    line-height: .41rem;
    .share {
      font-size: .26rem;
      color: #898989;
    }
    a, span {
      display: block;
    }
    a {
      background: url(http://img1.cache.netease.com/utf8/3g/touch/images/share.png) no-repeat;
      background-size: .48rem 1.65rem;
      margin-left: .4rem;
    }
    .wapShareLink_sina {
      margin-left: .2rem;
      width: .48rem;
      height: .41rem;
      background-position: 0 0;
    }
    .wapShareLink_weixin {
      display: none;
      width: .48rem;
      height: .4rem;
      background-position: 0 -1.26rem;
    }
    .wapShareLink_qqzone {
      width: .45rem;
      height: .42rem;
      background-position: 0 -.42rem;
    }
    .wapShareLink_yixin {
      width: .44rem;
      height: .42rem;
      background-position: 0 -.84rem;
    }
  }
}