.border(@bdv, @w, @s, @c){
  @{bdv}: @w @s @c;
  .iosx2 &{
    @{bdv}: @w/2 @s @c;
  }
  .iosx3 &{
    @{bdv}: @w/2.8 @s @c;
  }
}
.m-more {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .3rem 0;
  width: 100%;
  text-align: center;
  .border(border-top,1px,solid,rgba(0,0,0,0.08));
  background-color: #f6f6f6;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // z-index: 99;
  // width: 7.5rem;
  // height: .7rem;
  // line-height: .7rem;
  // background: url(http://img4.cache.netease.com/utf8/3g/touch/images/border.png) repeat-x;
  // background-size: 1px .7rem;
  // text-align: center;
}
.m-more span {
  position: relative;
  padding-right: .3rem;
  color: #1d76dd;
  font-size: .24rem;
}
.m-more span::after {
  content: '';
  position: absolute;
  top: .05rem;
  right: 0;
  width: .1rem;
  height: .1rem;
  border-right: 2px solid #1d76dd;
  border-bottom: 2px solid #1d76dd;
  -webkit-transform: rotate(45deg);
}